<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width">
    <!--https://materializecss.com/-->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script>
      let resolveFileLink = (name) => window.location.search = resolveCurrentPath() + '/' + name

      function resolveCurrentPath() {
        let searchParams = new URLSearchParams(window.location.search)
        let pathParam = searchParams.get('path')
        let redirectUrl = "?path=" + pathParam
        return redirectUrl
      }

      function formSubmitData() {
        let redirectPath = document.getElementById('upload_path')
        if (redirectPath != undefined) {
            redirectPath.setAttribute('value', resolveCurrentPath())
        }
      }

      window.addEventListener('DOMContentLoaded', (event) => {
        //formSubmitData()
        activateShare()
      });

      function activateShare() {
        let searchParams = new URLSearchParams(window.location.search)
        let pathParam = searchParams.get('path')
        if (pathParam != undefined) {
            let shareName = pathParam.split('/')[0]
            document.getElementById(shareName).setAttribute('class', 'active')
        }
      }
    </script>
</head>
<title>dir-serve</title>
<body>
<!-- Navbar -->
<nav class="teal">
    <div>
        <a id="nav-logo" href="#" class="brand-logo"><span class="material-icons">snippet_folder</span>dir-serve</a>
        <ul id="nav-mobile" class="right">
            {% for path in allPaths %}
            <li id="{{path}}"><a href="?path={{path}}">{{path}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <br/>
</nav>

<!-- table contents -->
<div style="padding-left: 2%; padding-right: 2%">
<table>
    {% if files.len > 0 %}
    <thead>
        <tr>
            <td>name</td>
            <td>type</td>
            <td>size</td>
        </tr>
    </thead>

    <tbody>
    {% for file in files %}
        <tr>
            <td> <a href="javascript:resolveFileLink('{{file.name}}')"> {{file.name}} </a> </td>
            <td>{{file.typ}}</td>
            <td>{{file.size}}</td>
        </tr>
    {% endfor %}
    </tbody>
    {% else %}
        No files to display
    {% endif %}
</table>
</div>

<!-- Compiled and minified JavaScript at the end for optimized loading -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
